<div class="row">
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <label for="inputEscola">Escola</label>
                <select id="inputEscola" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputSerie">Série</label>
                <select id="inputSerie" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </form>
        <lista-material></lista-material>
    </div>
    <div class="col-sm-9">
        <lista-cotacao></lista-cotacao>
    </div>
</div>